@import "../../_variables";

.itemCard {
  background-color: $storeItemBG;
  //border: 3px solid white;
  display: inline-block;
  float: left;
  padding: 10px 20px;
  margin: 8px;
  width: 23%;
}

.genDetails {
  background-color: $detailsBG;
  padding: 5px;
  .price, .stock {
    display: inline-block;
  }
  .stock {
    float: right;
  }
}

.cartDetails {
  float: left;
  clear: both;
}

.thumbnail {
  width: 100%;
  border: 5px solid $thumbnailBorderColor;
}

.name {
  text-align: center;
}