// Variables
$itemBG: #CADFEB;

.itemCard {
  background-color: $itemBG;
  //border: 3px solid white;
  display: inline-block;
  float: left;
  padding: 10px 20px;
  margin: 8px;
  width: 23%;
}

.genDetails {
  background-color: #E1E1E1;
  padding: 5px;
  //.price {
  //  float: left;
  //}
  //.stock {
  //  float: right;
  //}
  .price, .stock {
    display: inline-block;
  }
  .stock {
    float: right;
  }
}

.cartDetails {
  float: left;
  clear: both;
}

.thumbnail {
  width: 100%;
  border: 5px solid #F1F1F1;
}


.name {
  text-align: center;
}