//COLORS
$bodyBG: #F1F8FB;
$storeItemBG: #CADFEB;
$thumbnailBorderColor: #F1F1F1;
$detailsBG: #E1E1E1;

$h1Color: #47A070;
$h2h3Color: #146E3E;


//FONTS
$h1Font: 'Cinzel', serif;
$h2h3Font: 'PT Sans Narrow', sans-serif;
$bodyFont: 'Catamaran', sans-serif;
