//VARIABLES
$bodyBG: #F1F8FB;
$h1Color: #47A070;
$h2h3Color: #146E3E;

/* Master Styles */
h1 {
  color: $h1Color;
  font-family: 'Cinzel', serif;
}

h2, h3 {
  color: $h2h3Color;
  font-family: 'PT Sans Narrow', sans-serif;
}

h2 {
  font-size: 2.8em;
}

body {
  background-color: $bodyBG;
  margin: 2em;
}

a:hover {
  text-decoration: none;
}


//font-family: 'Catamaran', sans-serif;