@import "_variables";

h1 {
  color: $h1Color;
  font-family: $h1Font;
}

h2, h3 {
  color: $h2h3Color;
  font-family: $h2h3Font;
}

h2 {
  font-size: 2.8em;
}

body {
  background-color: $bodyBG;
  font-family: $bodyFont;
  margin: 2em;
}

a:hover {
  text-decoration: none;
}

