/* Master Styles */
h1 {
  color: #021160;
  font-family: 'Cinzel', serif;
}

h2, h3 {
  color: #00584F;
  font-family: 'PT Sans Narrow', sans-serif;
}

body {
  background-color: #E9F1F5;
  margin: 2em;
}

a:hover {
  text-decoration: none;
}


//font-family: 'Catamaran', sans-serif;