<header class="container">
    <div class="row">
        <div class="col-md-12"><h1>Supermarket Scout</h1></div>
    </div>
    <nav class="row">
        <ul>
            <a routerLink="/store" routerLinkActive="active"><li class="col-md-4">STORE</li></a>
            <a routerLink="/list" routerLinkActive="active"><li class="col-md-4">LIST</li></a>
            <a routerLink="/cart" routerLinkActive="active"><li class="col-md-4">CART</li></a>
        </ul>
    </nav>
</header>
<main role="main" class="container">
    <router-outlet></router-outlet>
</main>