<header class="container">
    <div class="row">
        <div class="col-md-8"><h1>Supermarket</h1></div>
        <div class="col-md-4"><h2>budget_placeholder</h2></div>
    </div>
    <nav class="row">
        <ul>
            <li class="col-md-4" routerLinkActive="active"><a routerLink="/store">Store</a></li>
            <li class="col-md-4" routerLinkActive="active"><a routerLink="/list">List</a></li>
            <li class="col-md-4" routerLinkActive="active"><a routerLink="/cart">Cart</a></li>
        </ul>
    </nav>
</header>
<main role="main" class="container">
    <router-outlet></router-outlet>
</main>