//VARIABLES
$bodyBG: #F1F8FB;
$navBG: #9BBED1;

h1{
  font-size: 4em;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  a {
    color: white;
    font-size: 1.75em;
  }
  li {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: $navBG;
    border: 3px solid $bodyBG;
    padding: 5px;
    text-align: center;
    transition: all 1s ease-in-out;
    &:hover {
      background-color: #4D829F;
      cursor: hand;
    }
  }
}



